@media  (max-width: 767.98px) {
  .header__oficial {
    display: none;
  }
  .offer__title,
  .offer__subtitle {
    text-align: center;
  }
  .advice__title {
    max-width: 100%;
  }
  .advice__subtitle {
    max-width: 60%;
  }
  .reviews__item-img {
    margin-bottom: 15px;
  }
}
