/*! ============= Catalog ============== */
.catalog {
  padding: 1.79rem 0;
  &__page {
    @include adaptiv-value('margin-bottom', 30, 0, 0);
  }
  &__title {
    margin-bottom: 1.53em;
    text-align: center;
  }
  &__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.1em;
    @include adaptiv-value('margin-bottom', 60, 25, 0);
  }
  &__tab {
    width: 220px;
    padding: 0.83em 0.25em;
    border: 2px solid var(--tabs-color);
    font-size: 1.29rem;
    text-align: center;
    text-transform: uppercase;
    transform: skewX(-25deg);
    cursor: pointer;
    transition: box-shadow 0.3s ease, border .3s ease;
    &:hover {
      border: 2px solid transparent;
      box-shadow: 2px 2px 10px var(--grey-color);
    }
    & p {
      transform: skewX(25deg);
    }
    &_active {
      background-color: var(--accent-color);
      border: 2px solid transparent;
      color: var(--white-color);
    }
  }
  &__content {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.42rem;
    &_active {
      display: flex;
    }
  }
}
.catalog-item {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-height: 440px;
  padding: 20px 27px;
  border: 2px solid var(--hr-color);
  text-align: center;
  transition: box-shadow 0.3s ease, border .3s ease;
  overflow: hidden;
  &:hover {
      border: 2px solid transparent;
      box-shadow: 1px 1px 15px var(--grey-color);
    }
  &__wrap {
    flex: 1 1 auto;
    display: flex;
    width: calc(200% + 54px);
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 0;
    transform: translateX(-110%);
    transition: transform 0.3s ease;
    &_active {
      transform: translateX(0);
      margin-right: 27px;
    }
  }
  &__list {
    position: relative;
    width: 50%;
    margin-left: 27px;
    padding-right: 27px;
    text-align: start;
    transform: translateX(0);
    transition: transform 0.3s ease;
    &_active {
      transform: translateX(-100%);
      margin-left: 0;
      padding-left: 14px;
    }
    li {
      position: relative;
      margin-bottom: 10px;
    }
    li:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -14px;
    width: 5px;
    height: 5px;
    background-color: var(--accent-color);
    }
  }
  &__img {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 1.07rem;
  }
  &__title {
    margin-bottom: 0.94em;
  }
  &__descr {
    margin-bottom: 0.71em;
    text-align: left;
  }
  &__link {
    display: block;
    width: max-content;
    margin: 0 auto;
    border-bottom: 1px solid var(--accent-color);
    font-weight: 500;
    color: var(--accent-color);
    text-transform: uppercase;
  }
  &__back {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(calc(-50% - 15px));
    display: block;
    width: max-content;
    border-bottom: 1px solid var(--accent-color);
    text-transform: uppercase;
    color: var(--accent-color);

  }
  & hr {
    margin-top: 1.07em;
    margin-bottom: 1.43rem;
    border-top: none;
    color: var(--hr-color);
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &__old-price {
    display: block;
    text-align: left;
    text-decoration: line-through;
  }
  &__price {
    @include adaptiv-value('font-size', 20, 18, 0);
    font-weight: 700;
    color: var(--dark-color);
  }
}
