.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--white-color);
  &__logo {
    @include adaptiv-value('width', 250, 120, 1);
  }
  &__oficial {
    font-size: 0.75rem;
    font-weight: 500;
  }
  &__oficial-name {
      display: block;
      margin-top: 0.25em;
      @include adaptiv-value('font-size', 18, 16, 1);
    }
  &__phone {
    text-align: end;
  }
  &__phone-link {
    display: block;
    margin-bottom: 4px;
    @include adaptiv-value('font-size', 18, 16, 1);
    font-weight: 500;
  }
  &__btn {
    font-size: 0.857rem;
  }
}
