.polar {
  padding: 25px 0;
  &__page {
    @include adaptiv-value('margin-bottom', 30, 0, 0);
  }
  &-slider {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 660px;
    min-height: 190px;
    margin: 0 auto;
    &__img {
      @include adaptiv-value('max-width', 660, 290, 1);
      @include adaptiv-value('height', 430, 190, 1);
      object-fit: fill;
      &_p50 {
        transform: translateX(50px);
      }
      &_p20 {
        transform: translateX(20px);
      }
    }
  }
  .slick-arrow {
    width: 31px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      }
    }
  .slick-arrow:focus {
      outline: auto;
    }
    .slick-prev {
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translateY(-50%);

  }
    .slick-next {
    position: absolute;
    top: 50%;
    right: -100px;
    transform: rotateY(180deg);
  }

  .slick-dots {
    position: absolute;
    bottom: -30px;
    @include adaptiv-value('left', 300, 100, 1);
    & li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 7px;
      border: 1px solid var(--accent-color);
      border-radius: 100%;
      font-size: 0;
    }
    .slick-active {
      border: 1px solid transparent;
      background-color: var(--accent-color);
    }
  }
}
