.reviews {

  &__title {
    @include adaptiv-value('margin-bottom', 60, 30, 1);
    text-align: center;
  }
  &__page {
    margin-bottom: 1.64em;
    padding-top: 2.14em;
    padding-bottom: 1.79em;
  }
}
.reviews__item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  @include adaptiv-value('row-gap', 60, 25, 1);
  &-img {
    max-width: 190px;
    min-height: 190px;
    object-fit: cover;
    border-radius: 100%;
  }
  &-content {
    @include adaptiv-value('max-width', 680, 290, 1);
    @include adaptiv-value('margin-left', 60, 0, 1);
  }
  &-title {
    margin-bottom: 0.25em;
    font-style: normal;
  }
  &-subtitle {
    margin-bottom: 0.71em;
    font-weight: 500;
    color: var(--span-color);
  }
  &-text {
    font-size: 1.143rem;
    line-height: 1.5em;
  }
}
